<div class="container">
  <mat-card *ngIf="form">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput placeholder="..." formControlName="header">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput rows="6" cols="100" maxlength="4000" formControlName="text"></textarea>
        </mat-form-field>

          <mat-label>Image</mat-label>
          <input type="file" (change)="onFileSelected($event)" accept="image/*" name="file">

          <mat-checkbox formControlName="checkbox">Add from</mat-checkbox>

        <button type="submit" mat-raised-button color="primary">Save</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
